.test {
    stroke: yellow;
}

path {
    fill: none;
    stroke: black;
    stroke-width: 2;
}

.background.defaultcell {
    fill: white;
}

text.defaultcell {
    font-family: "Arial";
    margin-left: 20px;
}

text.defaultmarker {
    font-family: "Arial";
    font-size: 0.9em;
}

/* background rects */
rect.defaultcell.header.year {
}

rect.defaultcell.header.quarter {
}

rect.defaultcell.header.month {
}

rect.defaultcell.header.week {
}

rect.defaultcell.header.day {
}

/* weekend marking */
rect.defaultcell.weekend, rect.defaultcell.header.weekend {
    fill: lightgray;
}

/* workpackage rectangle */
line.defaultcell.workpackage.top, line.defaultcell.workpackage.left,
line.defaultcell.workpackage.bottom, line.defaultcell.workpackage.right {
    stroke: black;
    stroke-dasharray: 0;
}

line.defaultevent {
    stroke: red;
    stroke-dasharray: 4;
    stroke-width: 2;
}

text.defaultcell.workpackage {
    font-weight: 600;
}

/* task rectangle */
line.defaultcell.task.top, line.defaultcell.task.left,
line.defaultcell.task.bottom, line.defaultcell.task.right {
    stroke: black;
    stroke-dasharray: 0;
}

/* year rectangle */
line.defaultcell.header.year.top, line.defaultcell.header.year.left,
line.defaultcell.header.year.bottom, line.defaultcell.header.year.right {
    stroke: black;
    stroke-dasharray: 0;
}

text.defaultcell.year {
    font-weight: 600;
}


/* quarter rectangle */
line.defaultcell.header.quarter.top, line.defaultcell.header.quarter.left,
line.defaultcell.header.quarter.bottom, line.defaultcell.header.quarter.right {
    stroke: black;
    stroke-dasharray: 0;
}

text.defaultcell.quarter {
    font-weight: 600;
}

/* month rectangle */
line.defaultcell.header.month.top, line.defaultcell.header.month.left,
line.defaultcell.header.month.bottom, line.defaultcell.header.month.right {
    stroke: black;
    stroke-dasharray: 0;
}

text.defaultcell.month {
    font-weight: 600;
}


/* week rectangle */
line.defaultcell.header.week.top, line.defaultcell.header.week.left,
line.defaultcell.header.week.bottom, line.defaultcell.header.week.right {
    stroke: black;
    stroke-dasharray: 0;
}

text.defaultcell.week {
    font-weight: 600;
}

/* days rectangle */
line.defaultcell.header.day.top, line.defaultcell.header.day.left,
line.defaultcell.header.day.bottom, line.defaultcell.header.day.right {
    stroke: black;
    stroke-dasharray: 0;
}

text.defaultcell.day {
    font-weight: 600;
    font-family: "Arial Narrow";
}

/* dashed lines between days */
line.defaultcell.day.left, line.defaultcell.day.right {
    stroke: black;
    stroke-dasharray: 2;
}

/* solid line on first and last day of day grid as well as on last row*/
line.day.firstcol.left, line.day.lastcol.right, line.lastrow.bottom {
    stroke: black !important;
    stroke-dasharray: 0;
}

/* dashed lines between days */
line.defaultcell.week.left, line.defaultcell.week.right {
    stroke: black;
    stroke-dasharray: 2;
}

/* solid line on first and last day of day grid as well as on last row*/
line.week.firstcol.left, line.week.lastcol.right, line.lastrow.bottom {
    stroke: black !important;
    stroke-dasharray: 0;
}
